.git
.gitignore
.dockerignore
__pycache__
*.pyc
*.pyo
*.pyd
.db.sqlite3
.pytest_cache
.vscode
.idea
venv
.venv
node_modules
static
media
*.md
Dockerfile
docker-compose*.yml
Makefile
package.json
package-lock.json
requirements.in
requirements.txt
ci/
logs/
*.postman_collection.json
mng-api.sh
crypto_assets_api_nginx.conf
celery-beat-entrypoint.sh
